body {
  padding: 0;
  margin: 16px;
}

.List {
  padding: 0;
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 60px;
  grid-gap: 16px;
}

.List__item {
  line-height: 60px;
  text-align: center;
  color: white;
  border-radius: 30px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  list-style-type: none;
}

.List_item--selected {
  border: 4px solid black;
}

.List__item--navy {
  background-color: #001f3f;
}

.List__item--blue {
  background-color: #0074d9;
}

.List__item--aqua {
  background-color: #7fdbff;
}

.List__item--teal {
  background-color: #39cccc;
}

.List__item--olive {
  background-color: #3d9970;
}

.List__item--green {
  background-color: #2ecc40;
}

.List__item--lime {
  background-color: #01ff70;
}

.List__item--yellow {
  background-color: #ffdc00;
}

.List__item--orange {
  background-color: #ff851b;
}

.List__item--red {
  background-color: #ff4136;
}

.List__item--maroon {
  background-color: #85144b;
}

.List__item--fuchsia {
  background-color: #f012be;
}

.List__item--purple {
  background-color: #b10dc9;
}

.List__item--black {
  background-color: #111111;
}

.List__item--gray {
  background-color: #aaaaaa;
}

.List__item--silver {
  background-color: #dddddd;
}

.Header {
  display: flex;
}

.Input {
  display: flex;
  height: 40px;
  border-radius: 30px;
  padding: 0 10px;
  margin-bottom: 15px;
  width: 100%;
}

.Close__Button {
  display: flex;
  width: 40;
  height: 40;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  border: 0;
  color: white;
  margin-left: 10;
  font-weight: bold;
}

.Close__Button--true {
  background-color: tomato;
}

.Close__Button--false {
  background-color: "gray";
}

.Button {
  background-color: tomato;
  border-radius: 30px;
  border-width: 0px;
  height: 40px;
  padding: 0 10px;
  color: white;
}

.Button_Options {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.Selected_List {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
}
